@media (min-width: 37.5em) {
    #menu {
        display: none;
        visibility: hidden;
    }
    .open .new {
        display: none;
    }
    #happy{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        color: #0F172A;

    }
    nav ul li {
        display: flex;
        justify-content: space-around;
        
        padding: 20px;
        flex: 1 1 100%;
    }

    a{
        text-decoration: none;
        list-style: none;
        color: #ffff;
    }
}