* {
    --color: #0F172A;
    --color1: #f4f000;
    box-sizing: border-box;
    justify-content: center;
}
/*applied font*/
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Moves the main body t o the middle of the screen.*/
main{
    margin: 0 50px;

}
/*moves the header to the middle*/
h1 {
    display: flex;
    position: relative;
    left: 100px;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
}

/* The header spans the screen across the max-width*/
header {
    display: flex;
    color: var(--color1);
    padding: 20px;
    width: 100%;
    font-size: 1.75rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    background-color: var(--color);
}

header p {
    display: flex;
    align-items: flex-start;
    color: var(--color1);
}

a {
    gap: 20px;
    padding: 0 20px;
    justify-content: flex-end;
}
/* Changes the action when you hover over the contents*/
a:hover {
    background-color: var(--color1);
    border-radius: 10px;

}
/* Places my images 3 in a column and wrap when the screen is getting smaller*/
.build {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 100px;
    justify-content: space-around;
    align-items: center;
}

/*makes the image and caption stack on top of each other.*/
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
}


img {
    width: 250px;
    height: auto;
    
}

/* Sets the footer to clear when showing my information and the last modified JS constant*/
footer {
  background-color: var(--color);
  color: #ffffff;
  text-align: center;
  position: relative;
  left: 100px;
  padding: 20px;
  margin-top: 40px;
  font-family: Arial, sans-serif;

}

footer p {
  margin: 5px 0;
  font-size: 1rem;
}

#lastModified {
  color: #e6ff00;
  font-size: 0.9rem;
}

/*works to show where the hamburger is on the screen*/
.navigation {
    display: none;
    
}
.open .navigation{
    display: block;

    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.open .navigation a{
    display: block;
    margin: 0 auto;
    font-size: 3rem;
    text-decoration: none;
    padding: 10px;
    border: 1px solid black;
    list-style: none;
    color: #ffffff;
    
}



.active {
    color: #e6ff00;
}

.open li {
    display: block;
    width: 100%;
}
/* Trying to remove the paragraph in the header when the hamburger menu is clicked*/


/*For the hamburger menu*/
#menu {
	font-size: 1.5rem;
    display: block;
    list-style: none;
    top: 3rem;
	background: none;
	color: #ffff;
	position: absolute;
	right: 0;
}

#menu li{
    text-align: center;
    padding: 1rem 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}