* {
    max-width: 1000px;
    --color: rgb(212, 0, 255);
    --color1: silver;
    justify-content: center;
}
/*applied font*/
.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Moves the main body t o the middle of the screen.*/
main{
    margin: 0 50px;

}
/*moves the header to the middle*/
h1 {
    display: flex;
    position: relative;
    left: 100px;
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
}

/* The header spans the screen across the max-width*/
header {
    display: flex;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 1.75rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 100px;
    background-color: var(--color);

}
header p{
    position: relative;
    left:0px;
    margin: 0 200px 0 0;
}
/* Places my images 3 in a column and wrap when the screen is getting smaller*/
.build {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    position: relative;
    left: 100px;
    justify-content: space-around;
    align-items: center;
}
/*makes the image and caption stack on top of each other.*/
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 11px;
    padding:15px;
}
img {
    width: 250px;
    height: auto;
    
}


a {
    gap: 20px;
    padding: 0 20px;
    color: #ffffff;
    justify-content: space-around;
}
/* Changes the action when you hover over the contents*/
a:hover {
    background-color: rgba(205, 35, 217, 0.799);
    color: lightblue;
    border-radius: 10px;

}
/* Sets the footer to clear when showing my information and the last modified JS constant*/
footer {
  background-color: var(--color1);
  color: #ffffff;
  text-align: center;
  position: relative;
  left: 100px;
  padding: 20px;
  margin-top: 40px;
  font-family: Arial, sans-serif;

}

footer p {
  margin: 5px 0;
  font-size: 1rem;
}

#lastModified {
  color: #e6ff00;
  font-size: 0.9rem;
}