@media (min-width: 37.5em) {
    #menu {
        display: flex;
    }
    .navigation{
        display: flex;
        flex-direction: row;
    }
    nav a {
        display: block;
        flex: 1 1 100%;
    }
}